.card-content.current {
    width: 50%;
    height: 100%;
    border: var(--border-color-2);
    background-color: rgb(255, 134, 53);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

/* .current .info-wrapper {
    width: 70%;
    height: 100%;
    border: var(--border-color-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.current .card-top {
    border: var(--border-color-5);
    display: flex;
    width: 80%;
    justify-content: space-around;
    font-size: 42px;
    position: relative;
    top: 1rem;
}

.current .card-middle {
    border: var(--border-color-1);
    width: 80%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card-middle .icon {
    grid-column: 1 / 2;
    width: 100px;
    height: 100px;
    align-self: center;
    justify-self: center;
    padding-right: 2rem;
}

.icon img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 1.5rem;
}

.card-middle .temp {
    grid-column: 2 / 3;
    font-size: 32px;
    align-self: center;
    justify-self: center;
}

.card-middle .condition {
    grid-column: 3 / 4;
    font-size: 25px;
    align-self: center;
}


.card-middle .description {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
    font-size: 25px;
}

.current .card-bottom {
    border: var(--border-color-2);
    width: 80%;
    height: 15%;
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}
