.card-content.daily {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    padding: 16px;
    min-width: 250px;
    max-width: 350px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 16px auto; /* Center the card */
    display: flex;
    flex-direction: column;
    gap: 12px
}

/* Top Section */
.card-top.daily {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

.card-top.daily p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.day.daily {
    font-weight: bold;
    color: #555;
}

.date.daily {
    font-size: 14px;
    color: #777;
}

/* Icon Section */
.card-icon.daily {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0;
    gap: 1rem;
}

.card-icon.daily img {
    height: 100px;
    width: 100px;
    margin-bottom: 8px;
}

.card-icon.daily .weather-condition {
    font-weight: 500;
}

.weather-condition.daily {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    text-align: center;
}

/* Middle Section */
.card-middle.daily {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.temp-min-label.daily,
.temp-max-label.daily {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.temp-min-value.daily,
.temp-max-value.daily {
    font-weight: bold;
    color: #333;
}

/* Bottom Section */
.card-bottom.daily {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

.humidity.daily {
    font-size: 14px;
    margin-top: 5px;
}

.humidity-value.daily {
    font-weight: bold;
}
