/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------- APP STYLING STARTS HERE -------------------- */

:root {
    --border-color-1: solid 1px #fcba03;
    --border-color-2: solid 1px #03fc7b;
    --border-color-3: solid 1px #03adfc;
    --border-color-4: solid 1px #7703fc;
    --border-color-5: solid 1px #fc036f;
}

body {
    background-color: rgba(240, 240, 240, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3rem;
}

header {
    font-size: 3rem;
    height: 7vh;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

main {
    margin: 0.5rem 0;
    height: 81vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70%;
    row-gap: 0.7rem;
    margin-bottom: 1rem;
    align-items: center;
}

main form label {
    font-size: 1.5rem;
    margin-right: 1rem;
    justify-self: end;
}

main form input {
    max-width: 300px;
    height: 70%;
    margin-left: 15px;
}

main form button {
    grid-column: 1/3;
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    justify-self: center;
}

#content-container {
    width: 95%;
    height: 80%;
    border: solid 3px rgba(25, 171, 245, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#location-name {
    width: 80%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    /* border: var(--border-color-1); */
}

/* Time Frame Navigation Styling Start */

#view-option-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 400px;
    max-width: 700px;
    height: 40px;
    gap: 1rem;
    /* border: var(--border-color-4); */
}

#view-option-wrapper a {
    display: inline-block;
    height: 100%;
    color: #252524;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: none;
    align-content: center;
}

#view-option-wrapper a:hover {
    color: #6f6f6f;
    border-bottom: solid 2px rgba(20, 20, 20, 0.9);
}

#view-option-wrapper a.active {
    border-bottom: solid 2px rgba(20, 20, 20, 0.9);
}

/* Time Frame Navigation Styling End */

/* Card Content Styling Starts */

#card-content-wrapper {
    /* border: var(--border-color-1); */
    width: 100%;
    height: 100%;
    margin: 0.5 0 1rem 0;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    gap: 40px;
    overflow: scroll;
}

/* Card Content Styling Ends */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4vh;
    /* border: var(--border-color-4); */
}

footer p {
    margin: 0 1rem;
}